@tailwind base;
@tailwind components;
@tailwind utilities;

.car-card {
  @apply flex flex-col p-6 justify-center items-start text-black-100 bg-primary-red-100 hover:bg-white hover:shadow-md rounded-3xl w-full;
}

.car-card__content {
  @apply w-full flex justify-between items-start gap-2;
}

.car-card__content-title {
  @apply text-[22px] leading-[26px] font-bold capitalize;
}

.car-card__price {
  @apply flex mt-6 text-[32px] leading-[38px] font-extrabold;
}

.car-card__price-dollar {
  @apply self-start text-[14px] leading-[17px] font-semibold;
}

.car-card__price-day {
  @apply self-end text-[14px] leading-[17px] font-medium;
}

.car-card__image {
  @apply relative object-fill mx-auto !overflow-hidden aspect-[16/12];}

.car-card__icon-container {
  @apply flex w-full justify-between text-grey;
}

.car-card__icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.car-card__icon-text {
  @apply text-[14px] leading-[17px];
}

.car-card__btn-container {
  @apply  flex justify-around  bottom-0 gap-9 z-10 mt-3;
}


.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  margin-left: 8px;
  width: 34px;
  height: 34px;
  animation: spinner 1.5s linear infinite;
}