@tailwind base;
@tailwind components;
@tailwind utilities;

.car-card {
  @apply flex flex-col p-3 justify-center items-start text-black-100 bg-primary-red-100 hover:bg-white hover:shadow-md rounded-3xl w-full;
}

.car-card__content {
  @apply w-full flex flex-col items-start;
}

pre {
  font-family: monospace;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.car-card__content-title {
  @apply text-[26px] py-2 leading-[26px] font-bold capitalize;
}

.car-card__price {
  @apply flex my-2 text-[32px] leading-[38px] font-extrabold;
}

.car-card__price-dollar {
  @apply self-start text-[14px] leading-[17px] font-semibold;
}

.car-card__price-day {
  @apply self-end text-[14px] leading-[17px] font-medium;
}

.car-card__image {
  @apply relative object-fill mx-auto !overflow-hidden aspect-[16/12];
}

/* .car-card__icon-container {
  @apply flex group-hover:invisible w-full justify-around text-grey ;
} */
.car-card__icon-container {
  @apply grid group-hover:invisible w-full grid-cols-3 text-grey items-start;
}

.car-card__icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.car-card__icon-text {
  @apply text-[12px] leading-[17px] font-bold text-center;
}

.car-card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}


.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  margin-left: 8px;
  width: 34px;
  height: 34px;
  animation: spinner 1.5s linear infinite;
}